################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebAPISQL/.vs/WebAPISQL/v15/Server/sqlite3
/WebAPISQL/.vs/WebAPISQL/v16
/WebApiJQueryCall/.vs/WebApiJQueryCall/v16
